<%- include('../partials/head')%> 
<body>

    <%- include('../partials/header')%> 
			<main>
				<div class="contenedor__todo">
					<div class="caja__trasera">
						<div class="caja__trasera-login">
							<h3>¿Ya tienes una cuenta?</h3>
							<p>Inicia sesión para entrar en la página</p>
							<button id="btn__iniciar-sesion">Iniciar Sesión</button>
						</div>
						<div class="caja__trasera-register">
							<h3>¿Aún no tienes una cuenta?</h3>
							<p>Regístrate para que puedas iniciar sesión</p>
							<button id="btn__registrarse">Regístrarse</button>
						</div>
					</div>

					<!--Formulario de Login y registro-->
					<div class="contenedor__login-register">
						<!--Login-->
						<form method="POST" action="/users/login/" class="formulario__login">
							<h2>Iniciar Sesión</h2>
							<input type="text" name="email" placeholder="Correo Electronico">
							
								<input type="password" name="password" class="form-control" placeholder="Contraseña">
								<input type="checkbox" class="form-check-input" name="remember_user" placeholder="RECORDAR">
                                <div>
                                    <a href="/users/recover" class="recup">Recuperar contraseña</a>
                                </div>
						  <button type="submit" class="btn btn-primary">Loguearme</button>
						  </form>
						  

						<!--Register-->
						<form method="POST" action="/users/register" enctype="multipart/form-data"
							class="formulario__register">
							<h2>Regístrarse</h2>
							<input type="text" name="fullName" class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.fullName : null %>" <input type="text" placeholder="Nombre Completo" />
							<% if (locals.errors && errors.fullName) { %>
								<div class="text-danger">
									<%= errors.fullName.msg %> 
								</div>
							<% } %>
							<input 
									type="text" 
									name="email" 
									class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.email : null %>" placeholder="Correo Electronico">
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
								<input 
								type="password" 
								name="password" 
								class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Contraseña"
							>
							<% if (locals.errors && errors.password) { %>
								<div class="text-danger">
									<%= errors.password.msg %>
								</div>
							<% } %>
							<select 
									name="country" 
									class="select_login <%= locals.errors && errors.country ? 'is-invalid' : null %>"
								>
									<option value="">Seleciona tu país de nacimiento</option>
									<%  
										let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.country) ? 'selected' : null %> 
										> <%= oneCountry %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.country) { %>
									<div class="text-danger">
										<%= errors.country.msg %>
									</div>
								<% } %>
							<label class="label_login" >Imagen de perfil:</label>
								<input 
									type="file" 
									name="avatar"
									class="select_login <%= locals.errors && errors.avatar ? 'is-invalid' : null %>"
								>
								<% if (locals.errors && errors.avatar) { %>
									<div class="text-danger">
										<%= errors.avatar.msg %>
									</div>
								<% } %>

							<button>Regístrarse</button>
						</form>
					</div>
				</div>
			</main>
			<%- include('../partials/footer'); %>
				<script src="/js/users/userlogin.js"></script>
		</body>

		</html>